# GENERAL SETTINGS
COMPOSE_PATH_SEPARATOR=+
COMPOSE_FILE=docker-compose.yml+docker-compose.rs1.yml
#docker-compose.rs1.yml+
DATABASE_PORT=
CACHE_PORT=
CACHE_PASSWORD=
CONFIG_SERVER_PORT=

REPLICA_SET_NAME_1=
DB1_RS1_PORT=
DB2_RS1_PORT=
DB3_RS1_PORT=